@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply inline-flex hover:bg-white  p-2 cursor-pointer bg-secondary text-secondary w-10 h-10 rounded-full items-center justify-center;
  }
  .inputIcon {
    @apply flex-col text-center  flex sm:flex-row items-center space-x-1 hover:bg-white w-full  justify-center p-2 sm:p-3 sm:px-4 rounded-md cursor-pointer;
  }
  .fullBodyHeight {
    min-height: calc(100vh - 70px);

    @media (max-width: 640px) {
      min-height: calc(100vh - 130px);
    }
  }
}

.dark {
  --color-bg-primary: #121212;
  --color-bg-secondary: #272727;
  --color-bg-button: #3f3f3f;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #fafafa;
  --color-bg-secondary: #ffffff;
  --color-bg-button: #f0f0f0;

  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}

input:focus {
  border: 1px solid #f7797d;
  outline: none;
}

button:focus {
  outline: none;
}

button.dark {
  background-color: #3f3f3f;
}
button.light {
  background: #f0f0f0;
}

.chatRoomHeight {
  height: calc(100vh - 198px);
}

body {
  background-color: #fafafa;
}

/* Say Hi Notifications */

.hiInterviewerBg {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-150%);
  animation-name: expansion;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all ease-in;
  transition-duration: 0.3;
}

.dialogue {
  animation-name: shakeHand;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all ease-in;
  transition-duration: 1s;
  transform: rotate(345deg) translateY(-120%) translateX(-100%);
  top: 0;
  right: 0;
}
@keyframes shakeHand {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}

/* Responsive Image with next Image*/
.imageContainer {
  width: 100%;
}

.imageContainer > div {
  position: unset !important;
}

.imageContainer .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* Post Skeleton Loader*/
.timeline-wrapper {
  color: #141823;
  padding: 20px;
}

.timeline-item {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;

  margin: 0 auto;
  max-width: 472px;
  min-height: 200px;
}

@keyframes placeHoldShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHoldShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: -webkit-linear-gradient(
    left,
    #eeeeee 8%,
    #dddddd 18%,
    #eeeeee 33%
  );
  height: 96px;
  position: relative;
  background-size: 800px 104px;
}

.background-masker {
  background: #fff;
  position: absolute;
  box-sizing: border-box;
}

.background-masker.header-top {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px;
}

.background-masker.header-left,
.background-masker.header-right {
  top: 10px;
  left: 40px;
  height: 8px;
  width: 10px;
}

.background-masker.header-bottom {
  top: 18px;
  left: 40px;
  right: 0;
  height: 6px;
}

.background-masker.subheader-left {
  top: 24px;
  height: 6px;
  left: 40px;
  width: 10px;
}

.background-masker.subheader-right {
  height: 6px;
  left: 230px;
  top: 24px;
  right: 0;
  width: auto;
}

.background-masker.subheader-bottom {
  top: 30px;
  left: 40px;
  right: 0;
  height: 10px;
}

.background-masker.content-top {
  top: 40px;
  left: 0;
  right: 0;
  height: 20px;
}
